<div id="body">
  <h1>{{title}}</h1>
  <p>{{message}}</p>
  <form [formGroup]="myControl" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <th>Name</th>
        <td>
          <input type="text" formControlName="name">
        </td>
      </tr>
      <tr>
        <th>Mail</th>
        <td>
          <input type="text" formControlName="mail">
        </td>
      </tr>
      <tr>
        <th>age</th>
        <td>
          <input type="number" formControlName="age">
        </td>
      </tr>
      <tr>
        <th>control1</th>
        <td>
          <label><input type="checkbox" formControlName="control1">Check Box</label>
        </td>
      </tr>
      <tr>
        <th>control2</th>
        <td>
          <label><input type="radio" value="male" formControlName="control2">male</label>
          <label><input type="radio" value="female" formControlName="control2">female</label>
        </td>
      </tr>
      <tr>
        <th>control3</th>
        <td>
          <select formControlName="control3">
            <option>Windows</option>
            <option>macOS</option>
            <option>Linux</option>
            <option>ChromeOS</option>
          </select>
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <input type="submit" value="click">
        </td>
      </tr>
    </table>

  </form>
</div>
